body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer{
  cursor: pointer;
}

// https://codepen.io/balajidesigner/pen/YBKQBK?editors=1100
.table-responsive {
  height: calc(100vh - 80px);  
  overflow:scroll;

  thead tr:nth-child(2) th{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.table-responsive-1 {
  height: calc(100vh - 80px); 
  overflow:scroll;

  thead tr:nth-child(1) th{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

